<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>Git Information for this website <span><a href="{{ $.Site.Params.gitRepo }}" target="_blank" rel="noopener noreferrer" >Repository URL</a></span></h1>

    {{ if getenv "CF_PAGES" }}
    <ul>
        <li>Branch: {{ getenv "CF_PAGES_BRANCH" }}</li>
        <li>Commit Hash: {{ getenv "CF_PAGES_COMMIT_SHA" }}</li>
    </ul>
    {{ else }}
    <ul>
        <li>Last Commit Hash: {{ .GitInfo.Hash }}</li>
        <li>Abbreviated Hash: {{ .GitInfo.AbbreviatedHash }}</li>
        <li>Author Name: {{ .GitInfo.AuthorName }}</li>
        <li>Subject: {{ .GitInfo.Subject }}</li>
        <li>Last Modification Date: {{ .GitInfo.AuthorDate.Format "January 2, 2006 15:04" }}</li>
    </ul>
    {{ end }}
</body>
</html>
